<div class="grid">
  <div class="col">
    <div class="card">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, ipsam possimus. Optio quia doloribus labore
        vero tenetur repudiandae quod totam dignissimos fugiat quo. Hic quidem labore nostrum, obcaecati at dignissimos
        aspernatur temporibus nihil voluptatum earum, aliquid commodi eveniet doloremque? Nemo sequi rerum aut tenetur,
        at excepturi quaerat voluptates nobis facilis aspernatur. Cumque veniam voluptas exercitationem dolores cum
        reiciendis quae harum praesentium neque sint? Incidunt voluptatibus voluptatem laboriosam sequi vitae libero
        facilis necessitatibus labore sed sit. Id commodi dolores expedita asperiores consequatur autem mollitia
        praesentium, officiis fugiat illo omnis ex beatae porro suscipit in quisquam nemo eos iste recusandae adipisci
        doloribus neque. Tempore blanditiis quod, voluptatum illo voluptate, aut nostrum quisquam nobis ea, fugit autem.
        Placeat quod animi ratione rem sequi commodi perferendis dignissimos. Ut, dolorum a accusamus doloremque nobis
        repellendus nemo minus modi molestiae quisquam odio nostrum suscipit blanditiis! Totam quis vero unde fugiat
        voluptatem consequatur animi quos consequuntur, sit dicta. Aut perspiciatis repudiandae numquam aperiam dolorem,
        molestiae debitis voluptate quaerat nesciunt sunt suscipit qui ipsa molestias. Necessitatibus dolores, deserunt
        consequatur voluptas aspernatur illo ex ab ipsa voluptate non mollitia eius impedit, quibusdam itaque rem
        excepturi quo cum consectetur quidem ducimus incidunt? Quae eius ipsa accusamus quidem? Ad, molestias tempore?
        Culpa, maiores! A autem aliquam voluptatibus tempora. Esse illum repellat est ducimus possimus ea placeat cumque
        obcaecati quasi ut nesciunt amet, optio veritatis odio praesentium autem reiciendis odit fuga quisquam illo
        culpa dolor incidunt voluptas? Minima suscipit eaque tempore sint mollitia sapiente placeat aspernatur
        doloribus, explicabo earum et, quas provident nesciunt aliquid fugit, voluptatibus perspiciatis dolore quam
        cumque voluptate dicta repellat dolores. Sequi aut assumenda fuga expedita. Sunt, at. Odit repellat est corrupti
        consectetur pariatur harum quidem impedit! Doloremque officia mollitia consectetur sed illum distinctio
        excepturi sapiente cum dolores laborum, asperiores facilis culpa commodi in consequuntur labore ea officiis
        nulla veniam quibusdam necessitatibus reiciendis magnam vitae! Pariatur corrupti modi minima sed error voluptas
        libero labore laborum. Quam, alias magni. Assumenda rem, cupiditate earum adipisci culpa sint in magnam quisquam
        harum molestias obcaecati possimus, sunt iure nisi aperiam quae laudantium eaque quo fugit. Accusamus ducimus
        perferendis recusandae, iusto nihil saepe, sunt placeat maiores architecto impedit voluptas molestiae expedita
        magni sequi aliquam corporis quas ipsam provident alias blanditiis illo, omnis dolorem facere. Odit voluptas a
        aliquam veritatis beatae dolores molestias perspiciatis possimus, ad eveniet, molestiae quisquam similique
        quibusdam delectus aperiam natus ea. Tempore consequuntur iusto hic molestiae beatae dolor sequi, totam enim
        maxime natus, nostrum, soluta adipisci qui aspernatur vel. Et in dignissimos cum maiores dicta veritatis
        laboriosam accusantium magni, itaque fugiat, explicabo iusto ab tempora beatae error, dolorum vero incidunt
        delectus obcaecati amet facere odio asperiores? Quas ducimus tempore distinctio facilis ipsa sunt optio quia
        reprehenderit, dolorem accusantium tenetur? Quisquam et officiis suscipit eveniet, facilis magni aspernatur
        perferendis vel quasi, qui eos ex non! Provident voluptate consectetur quia sunt sit praesentium quos qui veniam
        dicta ipsa delectus possimus, ea dolores, optio magnam voluptates eveniet neque dignissimos itaque ad autem
        nulla sed iure. Vero sit quod quas dolore minus culpa, facilis error.</p>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <p>student works!</p>
    </div>
  </div>
</div>
<ngx-ui-loader [loaderId]="'student-loader'"></ngx-ui-loader>
