<div class="flex">
  <div class="warp">
    <div class="poligon">
    </div>
  </div>
  <div class="login">
    <h1 style="text-align: center;">Login</h1>
    <br><br>
    <div class="line"></div><br><br>
    <div *ngIf="error" class="errormessage">
      <p style="text-align: center;"><span>{{errMessage}}</span></p>
    </div>
    <form (ngSubmit)="submit()">
      <p>User name</p><br>
      <input pInputText type="text" name="name" id="name" [(ngModel)]="login.email"><br><br><br>
      <p>Password</p><br>
      <input pInputText type="password" name="password" id="password" [(ngModel)]="login.password"><br><br><br>
      <button type="submit">Login</button>
    </form>
    <br>
    <p class="forget" style="cursor: pointer;">Forget password?</p>
  </div>
</div>
