<div class="flex">
  <div class="warp">
    <div class="poligon">
    </div>
  </div>
  <div class="login">
    <h1 style="text-align: center;">Login</h1>
    <br><br>
    <div class="line"></div><br><br><br><br>
    <form>
      <p>User name</p><br>
      <input type="text" name="name"><br><br><br><br>
      <p>Password</p><br>
      <input type="password" name="password"><br><br><br>
      <button type="submit">Login</button>
    </form>
    <br>
    <p class="forget" style="cursor: pointer;">Forget password?</p>
  </div>
</div>
