.shadow-d{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.make-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.property{
  height: 150px;
  width: 250px;
  transition: 0.3s ease;
  font-size: large;
  padding: 10px;
}
.property:hover{
  transform: scale(1.03);
}
