<div class="card">
<p-panel [header]="class.name">
  <ng-template pTemplate="icons">
    <button class="p-panel-header-icon p-link" pTooltip="Students" tooltipPosition="top" (click)="visibleSidebar2=true">
      <span class="pi pi-users"></span>
    </button>
    <button class="p-panel-header-icon p-link" pTooltip="Tasks" tooltipPosition="top" (click)="visibleSidebar=true">
      <span class="pi pi-sliders-v"></span>
    </button>
  </ng-template>
</p-panel>
<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000" styleClass="p-sidebar-md">
  <h4>Add students</h4>
  <span class="p-fluid">
    <p-autoComplete [delay]="50" placeholder="Find students" [(ngModel)]="selectedStudents" [suggestions]="filteredStudents" (completeMethod)="filterStudent($event)" field="name" [multiple]="true">
      <ng-template let-student pTemplate="item">
        <div class="country-item">
          <p-avatar *ngIf="student.image!='N/A'" [image]="student.image" shape="circle" styleClass="mr-2"></p-avatar>
          <p-avatar *ngIf="student.image=='N/A'" shape="circle" styleClass="mr-2" [label]="student.name.substr(0,2)" [style]="{'background-color':'#9C27B0','color':'white'}" ></p-avatar>
          {{student.name}} <small>({{student.userId}})</small>
        </div>
      </ng-template>
    </p-autoComplete>
    <br>
</span>
<button pButton label="Add to class" icon="pi pi-save" (click)="saveStudentsToClass()"></button>
  <p-divider align="center">
    <span class="p-tag">Students in class</span>
</p-divider>
<p-listbox  [options]="classStudents" dataKey="id" [metaKeySelection]="false" [checkbox]="false" optionLabel="name" [listStyle]="{'max-height':'600px'}" [style]="{'width':'100%'}">
  <ng-template let-student pTemplate="student">
      <div class="cuntry-item flex align-items-center">
        <div class="flex-grow-1">
          <p-avatar *ngIf="student.image!='N/A'" [image]="student.image" shape="circle" styleClass="mr-2"></p-avatar>
        <p-avatar *ngIf="student.image=='N/A'" shape="circle" styleClass="mr-2" [label]="student.name.substr(0,2)" [style]="{'background-color':'#9C27B0','color':'white'}" ></p-avatar>
          {{student.name}}
          <small>({{student.userId}})</small>
        </div>
          <div class="flex-none">
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-sm p-button-rounded p-button-danger p-button-text" (click)="removeStudentFromClass(student.id)"></button>
          </div>
      </div>
  </ng-template>
</p-listbox>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000" styleClass="p-sidebar-md">
  <h4>Tasks</h4>
  <span class="p-fluid">
    <p-dropdown [options]="classTasks" [(ngModel)]="SelectedTask" placeholder="Select a task" optionLabel="name"></p-dropdown>
  </span>
  <p-divider align="center">
    <span class="p-tag">Select a student</span>
</p-divider>
<p-listbox  [options]="classStudents" dataKey="id" [metaKeySelection]="false" [checkbox]="false" optionLabel="name" [listStyle]="{'max-height':'600px'}" [style]="{'width':'100%'}">
  <ng-template let-student pTemplate="student">
      <div class="cuntry-item flex align-items-center">
        <div class="flex-grow-1">
          <p-avatar *ngIf="student.image!='N/A'" [image]="student.image" shape="circle" styleClass="mr-2"></p-avatar>
        <p-avatar *ngIf="student.image=='N/A'" shape="circle" styleClass="mr-2" [label]="student.name.substr(0,2)" [style]="{'background-color':'#9C27B0','color':'white'}" ></p-avatar>
          {{student.name}}
          <small>({{student.userId}})</small>
        </div>
          <div class="flex-none">
            <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-sm p-button-rounded p-button-info p-button-text" (click)="getStudentData(student.id)"></button>
          </div>
      </div>
  </ng-template>
</p-listbox>
</p-sidebar>

<p-sidebar [(visible)]="timeline" [fullScreen]="true" [baseZIndex]="10000">
  <h3>Total Keypress: {{taskMonitor.totalKeypress}}</h3>

  <div class="card">
    <p-timeline [value]="taskMonitor.taskMonitorScreenShotsCollection">
        <ng-template pTemplate="content" let-event>
            {{event.dateTime | date:'long'}}
            <br><br>
            <p-image [src]="event.screenShot"alt="Image" width="250" [preview]="true"></p-image>
            <br>
        </ng-template>
    </p-timeline>
</div>
</p-sidebar>
</div>
